<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contineo Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section class='login' id='login'>
        <div class='head'>
            <h1 class='head-msg'>Contineo Login</h1>
        </div>
        
        <p class='login-msg'>Welcome back</p>
        <div class='form'>
            <form>
                <input type="text" placeholder='Username' class='text' id='username' required><br>
                <input type="password" placeholder='Password' class='password'><br><br>
                <a href="#" class='btn-login' id='do-login'>Login </a>
                <a href="#" class='forgot'>Forgot?</a>
            </form>
        </div>
    </section>
</body>
</html>