body {
    background: #837d7d;
    display: flex;
    min-height: 90vh;
    font-family: 'Fira Code', monospace
}

.login {
    color: #fff;
    background: #22272e;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #0f6f92);
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2), 0 10px 20px rgba(0, 0, 0, .3), 0 30px 60px 1px rgba(0, 0, 0, .5);
    border-radius: 8px;
    padding: 60px
}

.login .head {
    display: flex;
    align-items: center;
    justify-content: center
}

.login .head .head-msg {
    font-size: 2.2em
}

.login .login-msg {
    text-align: center
}

.login .form .text {
    border: none;
    background: 0 0;
    box-shadow: 0 2px 0 0 #fff;
    width: 100%;
    color: #fff;
    font-size: 1em;
    outline: 0
}

.login form .text::placeholder {
    color: #d3d3d3
}

.login .form .password {
    border: none;
    background: 0 0;
    box-shadow: 0 2px 0 0 #fff;
    width: 100%;
    color: #fff;
    font-size: 1em;
    outline: 0;
    margin-bottom: 20px;
    margin-top: 20px
}

.login .form .password::placeholder {
    color: #d3d3d3
}

.login .form .submit {
    background: 0 0;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 0 2px #fff;
    border-radius: 3px;
    padding: 5px 2em;
    transition: .5s
}

.login .form .submit:hover {
    background: #fff;
    color: #696969;
    transition: .5s
}

.login .forgot {
    text-decoration: none;
    color: #fff;
    float: right
}