{% extends "/auth/layout.html" %}

{% block content %}
<body style="background: #041C32">

    <main role="main" class="login-container">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                        <div class="card shadow-2-strong"
                            style="border-radius: 1rem;background: #24252b">
                            <div class="modal-content rounded-4 shadow">

                                <div class="modal-header p-5 pb-4 border-bottom-0">
                                    <h1 class="fw-bold mb-0 fs-2">Contineo Login</h1>
                                </div>

                                <div class="modal-body p-5 pt-0">
                                    <form action='/auth/login' method='POST'>
                                        {{ form.hidden_tag() }}
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control rounded-4" id="floatingInput"
                                                style="color:black;" placeholder="Username" name="email_username"
                                                title="valid username" pattern="[ ]*^(1[sS][iI][0-9][0-9][A-z][A-z][0-9][0-9][0-9]|[A-z]+)(@sit.ac.in)?[ ]*$">
                                            <label for="floatingInput" style="color:black;">Username</label>
                                        </div>

                                        <div class="form-floating mb-3" style="color:black;">
                                            <input type="password" class="form-control rounded-4 password"
                                                name="password" id="floatingPassword" placeholder="Password"
                                                title="password">
                                            <label for="floatingPassword">Password <i
                                                    class="bi bi-eye-slash"></i></label>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input me-2 mb-3" type="checkbox" value="1"
                                                    id="checkbox" name="remember" />
                                                <label class="form-check-label" for="checkbox">
                                                    Remember me
                                                </label>
                                            </div>
                                        </div>

                                        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary"
                                            type="submit">Login<i class="bi bi-box-arrow-in-right"></i></button>

                                        <div class="col-md-15">
                                            {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                            {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                        </div>

                                        <hr class="my-2">

                                        <small class="text-muted"><a href="#" class='forgot'>Forgot
                                                password?</a></small>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock content %}